@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1110px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
body{
    background: #F9F9F9;
}
/* Header */
.header{
    background: url(../img/bgc.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header-nav{
    
    padding: 25px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-nav a{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 150%;
    
}
.header-ul{
    display: flex;
    gap: 40px;
}
.login{
    display: flex;
    align-items: center;
    gap: 40px;
}
.search{
    text-align: center;
    margin: 0 16px -5px 0;   
}

.div{
    display: flex;
    gap: 29px;
}

h1{
    margin-top: 523px;
    color: #FFFFFF;
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 50px;
}

.header-btn{
    padding: 15px 35px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    margin-bottom: 80px;
    position: relative;
}

.header-catlg{
    height: 60px;
    display: flex;
    justify-content: space-between;
    
}
.header-catlg li{
    border: none;
    border-right: 1px solid #FFFFFF;
    padding-right: 15px;
}
/* Section */
.intro-content{

    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.intro-content h3{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;

}

.intro-content h2{
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;

}

.intro-cat{
    padding-top: 80px;
    padding-bottom: 75px;
    display: flex;
    gap: 18px;
}

.intro-item{
    
    padding: 20px 37px;
    border: 1px solid #D6D6D6;
    /* box-shadow: 1px solid #D6D6D6; */

    font-family: 'Gilroy';
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    color: black;
    /* background: #000; */
}

/* Cards */
.intro-cards{
    height: 590px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}

.intro-cards__link{
    width: 350px;
    height: 280px;
    background: url(../img/card1.png);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px;

}
.intro-cards__link:nth-child(2){
    background: url(../img/card2.png);
}
.intro-cards__link:nth-child(3){
    background: url(../img/card3.png);
}
.intro-cards__link:nth-child(4){
    background: url(../img/card4.png);
}
.intro-cards__link:nth-child(5){
    background: url(../img/card5.png);
}
.intro-cards__link:nth-child(6){
    background: url(../img/card6.png);
}
h4{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
.about-section{
    background: url(../img/about-bg.png);
    height: 541px;
}


.about-content h3{
    padding-top: 100px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.about-content h2{
    padding-top: 15px;
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
}

.about-content p{
    padding: 45px 190px 60px 190px;
    /* max-width: 730px;
    height: 100px; */
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.about-btn{
    padding: 15px 35px;
    margin-left: 442px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}

.gallery-intro h3{
    padding: 120px 0 15px 0;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}

.gallery-intro h2{
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;

}
.gallery-cards{
    padding: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;

}
.gallery-cards__card h5{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 35px;
    
}
.gallery-cards__card {
    background: url(../img/g-card1.png);
    width: 350px;
    height: 370px;
    padding: 248px 98px 35px 98px;

}

.gallery-cards__card:nth-child(2) {
    background: url(../img/g-card2.png);
    width: 350px;
    height: 370px;
    padding: 248px 73px 35px 73px;
}
.gallery-cards__card:nth-child(3) {
    background: url(../img/g-card3.png);
    width: 350px;
    height: 370px;
    padding: 248px 72px 35px 72px;
}

.gallery-btn{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px 35px;
    background: #333333;
    border: 1px solid #FFFFFF;
    margin-left: 420px;
}
.gallery-content{
    padding-top: 120px;
}

.gallery-content span{
    margin-top: 120px;
    /* padding: 120px 520px 15px 500px; */
    font-family: 'Gilroy';
    display: block;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
    
}

.gallery-content h2{
    padding-top: 15px;
    /* padding-left: 420px; */
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;

}

.gallery-content__cards{
    padding-top: 60px;
    padding-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
}

.gallery__card-video{
    text-align: center;
    width: 554px;
    height: 300px;
    background: url(../img/img--hover.png);
    position: relative;
    
}
.hover-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.gallery__card-video:hover .hover-img{
    opacity: 1;
    transition: 0.5s;

}
.gallery__card{
    overflow: hidden;
    width: 278px;
    height: 300px;
    
}
.gallery__card img{

    width: 100%;
    height: 100%;
    transition: transform 500ms;
    
}
.gallery__card:hover img{
    transform: scale(1.1);
}


.gallery__card-video:last-of-type{
    text-align: center;
    width: 554px;
    height: 300px;
    background: url(../img/Rectangle\ 8.png);
}
.subscribe{
    background: url(../img/about-bg.png);
    height: 478px;
}
.sub-info__title{
    padding-top: 100px;
    padding-bottom: 15px;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
}

.submain-info__title{

    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
}
.subscribe-form{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;

}
.subscribe-list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    
}
.subscribe-list a{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #FFFFFF;
    /* padding-right: 20px; */ 
    
}
.subscribe-list img{
    font-size: 17px;
    color: #FFFFFF;
    padding-right: 20px;
    
    
}
/* .subscribe-list__link{
    padding-bottom: 20px;
} */

.sub-form{
    border: 1px solid #FFFFFF;
    padding: 14px 15px;
    background: #FFFFFF;
   
    

}
.mail{
    padding: 15px 80px 15px 20px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 0.5);
    border: 1px solid #D6D6D6;
    width: 200px;
    height: 45px;
    /* margin: 20px 0 20px 22px; */
}

.send{
    padding: 15px 35px 15px 35px;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #333333;
    width: 159px;
    height: 45px;
    border: 1px solid #FFFFFF;
}
.border{
    border: 1px solid #FFFFFF;
    padding: 14px 15px;
}


/* Footer */
.footer{
    height: 478px;
}
.footer-nav{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
    padding-bottom: 60px;
}

.ftr-nav__list{
    max-width: 255px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-title{
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;    
    border: none;
    border-bottom: 1px solid #333333;
    padding-bottom: 10px;
    margin-bottom: 40px;

}
.ftr-nav__list a{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;

}
.ftr-nav__list p{
    width: 255px;
    text-align: left;
}
.icon-pay{
    /* width: 45px;
    height: 30px; */
    font-size: 20px;
    
}

.social-icon{
    padding-top: 17px;
    display: flex;
    gap: 21px;
}
.tel{
    padding-right: 20px;
}
.ftr-nav__list img{
    padding-right: 20px;
}

.footer-end{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

}

.footer-end li{
    font-family: 'Gilroy';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
}
.footer-end a{
    text-decoration-line: underline;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    text-align: right;  
    color: #333333;

}












